<div class="clearfix">
  <h2 class='pull-left'>Inventories</h2>
  <%= link_to "+", new_inventory_path, id: 'new_inventory', class:'btn btn-primary btn-circle ' %>
</div>

<div class="row", id="inventoriescards">
  <%= render @inventories %>
</div>

