<div class="clearfix">
  <h2 class='pull-left'>Inventories</h2>
  <%= link_to "+", new_inventory_path, id: 'new_inventory', class:'btn btn-primary btn-circle ' %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Description
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="inventories">
    <%= render @inventories %>
  </tbody>
</table>
