<div class="jumbotron">
  <h2>
    Ei, Thiago, Vai tomar no Cu!!
  </h2>
  <p>
    Faltam algumas coisas, mas daqui a pouco da para começar.
    Considere que foi feito o deploy de sunga, na quinta cerveja e não entrei na piscina desde às 11:00.
  </p>
  <p>
    <td>
      <%= link_to 'VAMOS COMEÇAR', items_path, class: 'btn btn-primary btn-large'%>
    </td>
    </p>
</div>
