<div class="jumbotron">
  <h2>
    Ei, Thiago, Vai tomar no Cu!!
  </h2>
  <p>
    <ul>
      <li>
        2016-10-19 - Faltam algumas coisas, mas daqui a pouco da para começar.
        Considere que foi feito o deploy de sunga, na quinta cerveja e não entrei na piscina desde às 11:00.
      </li>
      <li>
        2016-10-20 - Essa vai ser a Home para quem visitar o site.
      </li>
      <li>
        2016-10-21 - Se apagar o estoque, irá apagar todos os itens desse estoque.
      </li>
    </ul>
    </p>
  <p>
    <td>
      <%= link_to 'VAMOS COMEÇAR', inventories_path, class: 'btn btn-primary btn-large'%>
    </td>
    </p>
</div>
