<h1>Items</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Quantity
      </th>
      <th>
        Price
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="items">
    <%= render @items %>
  </tbody>
</table>
